

@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
body { height: 100%; width: 100%; }

/*Individual ID Properties*/

#headsection { background-color: rgb(44, 44, 44); }

#pagetop { color: white; background-color: rgb(44, 44, 44); padding-bottom: 5px; font-size: 35px; margin-left: 890px;
    font-family: 'Megrim', cursive; height: 80px; padding-top: 1px; }

#scrollbar { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); height: 25px; position: relative; bottom: 15px; font-size: 17px; 
    width: 740px; float: right; position: relative; right: 570px; overflow: hidden; outline-style: solid; outline-color: rgb(26, 236, 26); 
    box-shadow: 0 0 10pt 2pt rgb(26, 236, 26); }

#newsname { position: relative; right: -590px; top: -55px; color: rgb(231, 104, 104); font-size: 25px; font-family: 'Exo 2', sans-serif; }
.newsbar { overflow: hidden; animation: marquee 10s linear infinite; }
#newsdiv 
{ 
    opacity: 1;
}

#version
{
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Megrim', cursive;
}
#untilrelease
{
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Megrim', cursive;
}

#navigationbar 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

#inc { font-size: 15px; }

#upone1 { width: 40px; }

#uptwo2 { width: 40px; }

#prest { width: 30px;}

#incbutton
{
    margin-left: 864px; margin-bottom: 5px; margin-top: 40px; font-size: 25px; text-align: center;
    cursor: pointer; outline: none; color: rgb(72, 233, 23); background-color: rgb(17, 17, 17);
    border: none; border-radius: 10px; box-shadow: 0 5px rgb(65, 65, 65); padding-bottom: 5px;
    padding-top: 5px; padding-right: 4px; padding-left: 4px; position: relative; text-shadow: 0px 0px 12pt rgb(72, 233, 23);
    user-select: none;
}
#incbutton:hover { background-color: rgb(32, 32, 32); text-shadow: 0px 0px 13pt rgb(72, 233, 23); }
#incbutton:active 
{ 
    color: rgb(52, 187, 18); background-color: black; box-shadow: 0 3px #666;
    transform: translateY(2px); text-shadow: 0px 0px 12pt rgb(72, 233, 23);
}

#upgrade1div
{
    margin-left: 300px; opacity: 0; 
}

#upgrade2div
{
    margin-left: 300px; opacity: 0;
}

#gpubutton { opacity: 0; }
#gpuup { position: relative; margin-left: 300px; top: 20px;  }
#gpucountline { margin-left: 300px; position: relative; top: 22px; }

#prestdiv { margin-left: 0px;}

#prestigebutton
{ 
    margin-left: 0px; margin-bottom: 20px; margin-top: 20px; font-size: 30px; text-align: center; 
    cursor: pointer; outline: none; color: rgb(255, 255, 255); background-color: rgb(71, 216, 197);
    border: none; border-radius: 10px; box-shadow: 0 5px #999; padding-bottom: 8px;
    padding-top: 8px; padding-right: 6px; padding-left: 6px;
}
#prestigebutton:hover { background-color: #4ba8ac; }
#prestigebutton:active 
{ 
    color: rgba(238, 238, 238, 0.856); background-color: #4ba8ac; box-shadow: 0 3px #666; 
    transform: translateY(3px); 
}
#prestcost { margin-left: 0px; }

#testtools { margin-left: 300px; }

#clicked {}

#logbox 
{
    height:400px; width:340px; border:1px solid #ccc; font:16px/26px Georgia, Garamond, Serif; overflow:auto; 
    position: absolute; left: 30px; bottom: 300px; background-color: #111111; color: rgb(26, 236, 26); padding-left: 10px; 
}


#uptworate { width: 35px; }

#multiplier { width: 30px; }

#hashoutput { color: white; background-color: #111111; font-size: 12px; margin-left: 15px; }
#GPU0wordoutput { color: white; background-color: #111111; font-size: 12px; margin-left: 15px; }
#GPU1Wordoutput { color: white; background-color: #111111; font-size: 12px; margin-left: 15px; }
#GPU2Wordoutput { color: white; background-color: #111111; font-size: 12px; margin-left: 15px; }

#GPU0 { width: 450px; position: relative; margin-right: 30px; bottom: 220px; left: 760px; box-shadow: 3px 5px rgb(65, 65, 65); font-size: 12px;
    background-color: #111111;  }
#showlog { float: right; margin-right: 20px; position: relative; top:-35px; }
#GPU0Header { color: rgb(26, 236, 26); background-color: #111111; margin-left: 15px; padding-top: 1px; }
#GPU0Title { font-size: 20px; }
#hashfooter { color: rgb(26, 236, 26); background-color: #111111; font-size: 12px; padding-bottom: 1px; line-height: 15px; }
#algline { margin-left: 15px; position: relative; top: -5px; font-size: 12px; }
#statline { font-size: 12px; margin-left: 15px; }

#GPU1 { width: 450px; position: relative; margin-right: 30px; bottom: 200px; left: 760px; box-shadow: 3px 5px rgb(65, 65, 65); font-size: 12px; opacity:0;
     background-color: #111111; }
#GPU1FanLine { color: aqua; font-size: 15px; }
#GPU1FanStatus { color: red; font-size: 13px; }
#GPU1Title { font-size: 20px; }
#GPU1Header { color: rgb(26, 236, 26); background-color: #111111;}
#GPU1Footer { color: rgb(26, 236, 26); background-color: #111111; font-size: 12px; line-height: 15px; }
#gpu1statline { color: rgb(26, 236, 26); background-color: #111111; font-size: 12px; margin-left: 15px; }
#GPU1Alg { position: relative; top: -5px; font-size: 12px; margin-left: 15px; }
#GPU1Templine { font-size: 12px; margin-left: 15px; padding-bottom: 7px; }

#GPU2 { width: 450px; position: relative; margin-right: 30px; bottom: 180px; left: 760px; box-shadow: 3px 5px rgb(65, 65, 65); font-size: 12px; opacity:0;
    background-color: #111111; }
#GPU2Header { color: rgb(26, 236, 26); background-color: #111111; margin-left: 15px; padding-top: 1px; }
#GPU2Title { font-size: 20px; }
#GPU2Footer { color: rgb(26, 236, 26); background-color: #111111; font-size: 12px; line-height: 15px; }
#gpu2statline { color: rgb(26, 236, 26); background-color: #111111; font-size: 12px; margin-left: 15px; }
#GPU2Alg { position: relative; top: -5px; font-size: 12px; margin-left: 15px; }
#GPU2Templine { font-size: 12px; margin-left: 15px; padding-bottom: 7px; }

#ccardhead { padding-left: 20px; }
#ccardcontent { padding-left: 20px; }
#assets { position: fixed; }

#testtools { position: relative; bottom: 400px; width: 300px; }

#Terminal { background-color: rgb(90, 90, 90); height: 800px; }

#Prestige { margin-left: 300px; margin-top: 15px; height: 800px; }

#Guide { margin-left: 300px; margin-top: 15px; height: 800px; }

#Settings { margin-left: 300px; margin-top: 15px; height: 800px; }

#Statistics { margin-left: 300px; margin-top: 15px; height: 800px; }
#comparedheader { background-color: rgba(153, 153, 153, 0.548); padding-left: 10px; color: rgb(26, 236, 26); padding-top: 5px; padding-bottom: 5px; padding-right: 10px; }
#statcardcompared { background-color: black; width: 360px; bottom: -50px; position: relative; box-shadow: 3px 5px rgb(145, 144, 144); padding-bottom: 5px; white-space: nowrap; overflow: hidden; }

/*Classes and Associated Properties*/

.clearleft { clear: left; }
.clearcenter { clear: center; }
.clearright { clear: right; }
.divider { width: 5px; }

.currencycard { width: 165px; height: 110px; background-color: black; position:absolute; margin-left: 20px; bottom: 660px; box-shadow: 3px 5px rgb(65, 65, 65);
    padding-top: 7px; }
.currency { color: rgb(26, 236, 26); padding-top: 10px; padding-bottom: 10px; padding-left: 0px;  }

.comparedbody { padding-left: 10px; color: rgb(26, 236, 26); width: 300px; padding-bottom: 10px; background-color: black; padding-top: 5px; }

.tab { background-color: black; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; text-align: center; } 
.tablinks 
{ 
    padding-right: 5px; padding-left: 5px; width: 150px; border-radius: 10px; background-color: rgb(49, 49, 49);
    color: rgb(34, 231, 16); outline: none; 
}
.tablinks:hover { background-color: rgb(54, 54, 54); color: rgb(30, 204, 14); }
.tablinks:active { color: rgb(30, 204, 14); background-color: rgb(54, 54, 54);  }
.tablinks:focus { color: red; }
.tabcontent
{
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect 
{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes marquee 
{
    0% 
    { 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%) 
    }
    100% 
    { 
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); 
    }
}

.navigationlist
{
    float: left;
}
.navigationlist a 
{
  display: block;
  color: #4ba8ac;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
.navigationlist a:hover { background-color: #111111; }

/* Responsive Design */

@viewport 
{
    width: device-width;
    zoom: 1.0 ;
}
